<!-- start: #footer -->

<footer id="footer" class="container-fluid">

    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4">
            <img class="center-block" src="{{asset "images/expanded-new-logo-300x86.png"}}"  style="display:block" alt="Heart Centered Rebalancing" />
            <div class="inline-block text-center top-spacer">
                <a href="https://www.facebook.com/expandconciousness/"><i class="fa fa-facebook-official social-sizing extra-padding" style="color: #445fa0;" aria-hidden="true"></i></a>
                <a href="https://twitter.com/hc_rebalancing"><i class="fa fa-twitter social-sizing extra-padding" style="color: #00aced;" aria-hidden="true"></i></a>
                <a href="https://www.pinterest.com/hcrebalancing/?etslf=18448&eq=Heart%20Centered%20Rebalanc"><i class="fa fa-pinterest social-sizing extra-padding" style="color: #bb0f23;" aria-hidden="true"></i></a>
                <a hreff="https://www.instagram.com/heartcenteredrebalancing/"><i class="fa fa-instagram social-sizing extra-padding" style="color: #00aced;" aria-hidden="true"></i></a>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <h2 class="bold" style="color: #aaa;">Join our Community</h2>
            </div>
            <div class="top-spacer center-block">
              <a class="subscribe-button" href="{{@blog.url}}/subscribe/">
                <button class="btn btn-default btn-block">
                    <h5 class="bold uppercase">Sign Up Today</h5>
                </button>
              </a>
            </div>
        </div>
        <div class="col-sm-2">
            <ul class="top-spacer">
                <li class="extra-padding"><a href="http://expandedconsciousness.com/about-us">About Us</a></li>
                <li class="extra-padding"><a href="http://expandedconsciousness.com/contact-us/">Contact Us</a></li>
                <li class="extra-padding"><a href="http://expandedconsciousness.com/fair-use/">Fair Use</a></li>
                <li class="extra-padding"><a href="http://expandedconsciousness.com/advertising-commitment/">Advertising Commitment</a></li>
                <li class="extra-padding"><a href="http://expandedconsciousness.com/privacy-policy/">Privacy Policy</a></li>
            </ul>
        </div>
      <div class="sm-2">
          <ul class="top-spacer">
            <li class="extra-padding"><a href="http://expandedconsciousness.com/removal-request">Removal Request</a></li>
            <li class="extra-padding"><a href="http://expandedconsciousness.com/disclaimer/">Disclamier</a></li>
            <li class="extra-padding"><a href="http://expandedconsciousness.com/user-agreement/">User Agreement</a></li>
            <li class="extra-padding"><a href="http://expandedconsciousness.com/why-cookies/">We Use Cookies</a></li>
        </ul>
      </div>
    </div>
    <div class="row top-spacer">
        <p class="top-spacer text-center" style="color:#aaa;">© Copyright 2016 - Crafted by GroupX inc.</p>
    </div>



    <div class="hide">
        <div class="row">
            <div class="col-xs-10 col-lg-12 col-md-5 col-md-offset-4">
                <p>© Copyright 2016 - Crafted by GroupX inc.</p>
            </div>
        </div>
        <a href="javascript:void(0)" id="back-to-top">JUMP TO TOP<i class="fa fa-chevron-up"></i></a>
  </div>








</footer>
<!-- end: #footer -->
